[Desktop Entry]
Name=Steam Big Picture
Comment=Start Steam in Big Picture Mode
Exec=/usr/bin/gamescope -e -- /usr/bin/steam -tenfoot -steamos3
Type=Application
